 
label{
  padding: 2%;
  float: left;
  margin-right: 60%; 
  margin-block-start: var(--metric-box-spacing); 
  flex-direction: row;
  z-index: 1;
}

button{
  margin: 5%;
  color: white;
  float: right;
  padding: 2%;
  background-color: darkslategray;
  font-size: 90%;
  z-index: 1;
}

img{
float: right;
height: 500px;
width: 40%;
margin: 0.1%;
z-index: 1;
}

input{
  margin-left: 10%;
  z-index: 1;
}

h1{
  float: left;
  color: darkslategray;
  margin: 6%;
  margin-inline-start: 2rem;
  z-index: 1;

}

p{
  font-size: 400%;
  text-align: center;
  color: aliceblue;
  animation: 10s register;
  z-index: 1;
}

@keyframes register{
  0%{color: aqua;}
  20%{color: silver;}
  40%{color: blueviolet;}
  60%{color: brown;}
  80%{color: chocolate;}
  90%{color: rebeccapurple;}
  100%{color: darkkhaki;}
}

.signup{
 float: right;
 z-index: 1;
 background-color: rgb(180, 191, 201);
 width: 60%;
}

.signin{
  background-color: silver;
  float: left;
  z-index: 1;
}

.app.dark{
  background-color: darkslategray;
  color: white;
  height: 250vh;
  width: 100%;
  z-index: -1;
}

.app.light{
  background-color: aliceblue;
  color: darkslategray;
  height: 250vh;
  z-index: -1;
  width: 100%;
}

.theme-button{
  height: 5%;
  width: auto;
  color:aliceblue;
  background-color: burlywood;
  opacity: 0.7;
  text-align: center;
  font-size: 80%;
  padding: 0.5%;
  float: right; 
  border-radius: 20px; 
}